.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background: #ffc2e8;
    margin: 0;
}

.navbar {
    background-color: #ff3131 !important;
    margin: 0;
    padding: 0 40px;
    border: none;
    min-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: bold;
    transition: background 0.2s, text-decoration 0.2s;
    text-decoration: none;
}
.navbar-nav .nav-link:hover {
    background: #e0e0e0;
    color: #ff3131 !important;
    border-radius: 4px;
    text-decoration: underline;
}

.footer {
    background-color: #ff3131;
    color: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1030;
    min-height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}